Flask==1.0.2
Flask-Cors==3.0.9
Jinja2==2.10
numpy==1.15.1
numpydoc==0.8.0
pandas==0.23.4
pandocfilters==1.4.2
pickleshare==0.7.4
requests==2.19.1
scikit-image==0.14.0
scikit-learn==0.19.2
gunicorn==19.9.0